@model List<sistemabiblioteca.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h2>Lista de Clientes</h2>

<a asp-action="Cadastrar" class="btn btn-success">
    Novo Cliente
</a>

<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefone</td>
            </tr>
        }
    </tbody>
</table>