@model sistemabiblioteca.Models.Produto

<h1>Novo Livro</h1>

<form asp-action="Criar" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label>Nome</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Descrição</label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Preço</label>
        <input asp-for="Preco" class="form-control" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Categoria</label>
        <input asp-for="Categoria" class="form-control" />
        <span asp-validation-for="Categoria" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
